<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">

                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">ثبت نام</h4>
                        <p class="category">ثبت نام در تولیچ</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-6 toleech-hcenter " >
                                <p class="text-gray"> مدرن باشید! با تلگرام ثبت نام کنید </p>

                                <a href="https://t.me/toleechbot?start=register"
                                        class="btn btn-info btn-xlarge" type="button"> ثبت نام با تلگرام
                                    <i class="fa fa-paper-plane toleech-large-font"></i>
                                    <div class="ripple-container"></div>

                                </a>


                            </div>
                            <div class="col-md-6 register-panel">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">ایمیل یا شماره تلفن همراه</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">رمز عبور</label>
                                                <input type="password" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-danger pull-right">ثبت نام</button>
                                    <p class="pull-left text-gray">قبلا ثبت نام کردید؟ <a routerLink="/login">ورود</a></p>

                                    <div class="clearfix"></div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
