<div class="logo">
    <a href="https://www.toleech.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/toleech-logo.png"/>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <div class="nav-container">
        <ul class="nav">
            <li class="active" routerLinkActive="active" id="torrentmenu">
                <a [routerLink]="[menuItems[2].path]">
                    <i class="material-icons">content_paste</i>
                    <p>{{menuItems[2].title}}</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="[menuItems[1].path]">
                    <i class="material-icons">person</i>
                    <p>{{menuItems[1].title}}</p>
                </a>
            </li>

            <li>
                <a (click)="logout()">
                    <i class="material-icons">library_books</i>
                    <p>{{menuItems[3].title}}</p>
                </a>
            </li>

        </ul>
    </div>
</div>
